@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('mache fonts/ProximaNova-Regular.eot');
  src: url('mache fonts/ProximaNova-Regular.woff2') format('woff2'),
       url('mache fonts/ProximaNova-Regular.woff') format('woff'),
       url('mache fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('mache fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
       url('mache fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.centered{
	padding-left: calc(50% - 585px);
	padding-right: calc(50% - 585px);
}

header{
	width: 100%;
	height: 800px;
	background: url(img/footer_bckgrnd.png) no-repeat center;
	background-size: cover;
	color: #fff;
	padding-top: 45px;

}

h1:after{
	display: block;
	content: "";
	width: 200px;
	height: 2px;
	background-color: #ed145b;
	margin: 36px auto;
}

nav{
	width: 100%;
	height: px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.navigation{
	list-style: none;
	float: right;
	cursor: pointer;
}
.navigation li{
	display: inline-block;
	margin-right: 14px;
}
.navigation li:hover{
	color: #ed145b;
	font-size: 16px;
}

.active{
	color:#ed145b; 
}

.logo1{
	float: left;
}

header h1{
	font-family: 'Lato', sans-serif;
	font-size: 46px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 280px;
	font-weight: 300;
}

.bold{
	font-weight:bold; 
}
.headertext{
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-align: center;
	padding-bottom: 65px;

}

header p{
	font-size: 22px;
	line-height: 38px;
	font-weight: 300;
}

.button{
	height: 50px;
	width: 200px;
	border-radius: 24.5px;
	background-color: #ed145b;
	text-transform: uppercase;
	text-align: center;
	padding-top: 16px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
}

.centered_about{
	padding-top: 150px;
	padding-bottom: 95px;
	position: relative;
	background:url(img/mcbook.png) no-repeat 95% bottom #f4f4f4; 
	background-size: contain, 95%;
	font-family: 'Lato', sans-serif;
}

.centered_about:before{
	top: 0px;
	left: 0px;
	content: "";
	display: block;
	border-top: 36px solid #ed145b;
	position: absolute;
	border-right: calc(100vw - 19px) solid transparent;
}

.about_content{
	width: 480px;
	font-size: 15px;
	font-weight: 300;
	padding-left: 100px;
}

h2{
	font-size: 38px;
	font-weight: 300;
	font-style: italic;
	line-height: 52px;
}

h2:after{
	display: block;
	margin: 35px 0 46px;
	content: "";
	height: 2px;
	width: 200px;
	background-color: #ed145b;
}

.about p{
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
}

.link_video{
	font-size: 15px;
	text-transform: uppercase;
	background: url(img/play.png) no-repeat right;
	width: 148px;
	height: 27px;
	margin-top: 45px;
	padding-top: 7px;
	color: #ed145b;
	font-weight: 500;
	cursor: pointer;
}


/* -= Our Services =- */
.services{
	margin: 0;
	display: none;
}
.our_services{
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-left: 0px;
	height: 0 auto;
	padding-top: 150px;
}

.services_content p{
	width: 0 auto;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}

.services_content h2:after{
	display: block;
	content: "";
	width: 200px;
	height: 2px;
	background-color: #ed145b;
	margin: 36px auto;
}



.services{
	margin: 0 auto;
	width: 0 auto;
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;	
}

.serv1, .serv2, .serv3, .serv4{
	display: inline-block;
	margin: auto;
	padding-left: 160px;
	padding-top: 94px;
	text-align: center;
	padding-bottom: 120px;
}

.fully, .free, .modern, .responsive{
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	color: #ed145b;
	padding-top: 34px;
}

/* -= Qoutes =- */
.quotes{
	background: url(img/bkgr.png) no-repeat center;
	text-align: center;
	height: 0 auto;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	font-style: italic;
	font-weight: 300;

}

.q1{
	padding-top: 100px;
	padding-bottom: 50px;
}
.q2{
	padding-bottom: 100px;
	padding-top: 50px;
}

/* -= Check Our Prices =- */
.prices{
	background: #dbdbdb;
	text-align: center;
	height: 0 auto;
	padding-top: 150px;
}

.prices h2:after{
	display: block;
	content: "";
	width: 200px;
	height: 2px;
	background-color: #ed145b;
	margin: 36px auto;
}
.prices h2, p{
	font-family: 'Lato', sans-serif; 
}

.fourprices{
	padding-top: 90px;
	padding-bottom: 137px;

}
.price{
	display: inline-block;
	margin-left: 30px;
	width: 260px;
	height: 470px;
	background: linear-gradient(180deg, #5a5a5a 32%, #FFF 32%);

	
}

 .price:hover{
	background: linear-gradient(180deg, #ed145b 32%, #FFF 32%);
}

.cost{
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #dbdbdb;
	margin-top: 19px;
}
.buck{
	font-size: 20px;
	font-weight: bold;
	color: #dbdbdb;
}
.term{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #dbdbdb;
}

.buttonpock{
	height: 50px;
	width: 200px;
	border-radius: 24.5px;
	background-color: #dbdbdb;
	text-transform: uppercase;
	text-align: center;
	padding-top: 16px;
	margin: 30px auto;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 15px;
}

.tarif{
	line-height: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.button_price{
	height: 50px;
	width: 200px;
	border-radius: 24.5px;
	background-color: #ed145b;
	text-transform: uppercase;
	text-align: center;
	padding-top: 16px;
	margin: 0px auto;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 15px;
	padding-bottom: 34px;
	cursor: pointer;
}

/* Additional info */
.add_info{
	display: block;
	margin: 0 auto;
	width: 0 auto;
	padding-left: 430px;
	padding-bottom: 800px;
}
.image_button{
	display: block;
	padding-left: 45px;
	padding-top: 150px;
	text-align: left;
	float: left;	
}
.logo_i1, .logo_i2, .logo_i3, .logo_i4, .logo_i5, .logo_i6{
		display: inline-block;
		float: left;
		padding-right: 30px;
}
.info_image_button{
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	text-align: left;
	color: #ed145b;
	padding-top: 34px;
}
.info_image_button p{font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding-top: 30px;
}


.joinus{
	margin: 0 auto;
	height: 0 auto;
	background-color: #ed145b;
	font-size: 38px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-left: 430px;
	padding-top: 85px;
	padding-bottom: 85px;
}
.joinus span{
	font-weight: bold;
}
.joinus_button{
	background-color: #fff; 
	height: 50px;
	width: 200px;
	border-radius: 24.5px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #ed145b; 
	cursor: pointer;
}


.updates{
	height: 0 auto;
	text-align: center;
}

.updates_gallery{
	display: inline-block;
	margin: 0 auto;
	padding-top: 96px;
	padding-bottom: 115px;
}

.updates h2{
	font-family: 'Lato', sans-serif;
	padding-top: 147px;
}
.updates h2:after{
	display: block;
	content: "";
	width: 200px;
	height: 2px;
	background-color: #ed145b;
	margin: 36px auto;
}
/* .btn {
    position: relative;
    display: inline-block;
    height: 50px; width:100%;
    text-align: center;
    color: green;
    background: green;
    line-height: 50px;
    text-decoration: none;
    padding-bottom:15%;
    background-clip:content-box;
    overflow:hidden;
} */


.menu_updates{
	display: inline-block;
	margin: 0px 16px 60px 16px;
	position: relative;
	background-color: #f4f4f4;
	
}

.menu_updates span{
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	text-align: left;
	padding-left: 20px;
	padding-top: 30px;
	/* color: #ed145b; */
	
}
.menu_updates p{font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
	padding-top: 30px;
	padding-bottom: 25px;
	text-align: left;
	padding-left: 20px;
	}

.imagelink{
	z-index: 1;
}
/*.updates_n:before{*/
.imagelink:after {
	top: 0px;
	left: 0px;
	content: "";
	display: block;
	border-bottom: 10px solid #ed145b;
	/*position: absolute;*/
	border-right: calc(100vw - 10px) solid transparent;
	z-index:10;
}
.showmorearrow{
	display: block;
	text-align: center;
	padding-bottom: 80px;
	cursor: pointer;
}
.showmorearrow span{
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	color: #ed145b;
	font-weight: 600;
	cursor: pointer;
}


.add_info2{
	background: url(img/devushke.png);
	height: 0 auto;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
}
.add_info2 h1{
	font-size: 38px;
	font-style: italic;
}
.par1_add_info2{
	padding-top: 40px;
	padding-bottom: 60px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: center;
	font-weight: 300;
	line-height: 1.5;
}
.download_now{
	display: inline-block;
	cursor: pointer;
	
}
.buttondowload{
	height: 50px;
	width: 200px;
	border-radius: 24.5px;
	background-color: #ed145b;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 16px;
	margin: 66px auto;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 15px;

}
.safari_img{
	margin: 0 auto;
	display: inline-block;
	padding-left: 195px;
	padding-top: 75px;

}
.showmore{
	padding-top: 150px;
	padding-left: 70px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: left;
	font-weight: 300;
	float: right;
	/*padding-left: 72px;*/
}

.par1{
	/* padding-top: 40px; */
	padding-bottom: 60px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: left;
	font-weight: 300;
	line-height: 1.5;
}


.ftr{
	height: 0 auto;
	padding: 68px 0px 65px 430px;
	background-color: #2b2b2b;
	color: #fff;
	text-transform: uppercase;
}

.ftr span{
	padding-left: 680px;
}

.ftr img{
	padding-left: 6px;
	text-align: center;
}